 <footer id="page-footer">
 	<div id="page-wrapper"  class="container">
		<br>
	      <h5>Poloc</h5>
	      
	      <h5>About</h5>
	      <div>
	      <p id="About">
	      	Polaroid Locator, Poloc, is an online commercial free platform that allow users to discover nearby pictures taken around them by using their geolocation. Today, Instagram serves as one of the most visited global platform for inspiration in the field of photography and lifestyle culture. However, currently on the Instagram app, there are no efficient ways to view pictures based on current locations dynamically. By combining the accuracy of Google Maps, Poloc allow users to instanly locate and discover the world around them with pictures taken within their immediate vicinity of 1km (Approx 0.62mi). Poloc allow users to pin location for later exploration. 
	      </p>
	      </div>
	      <h5>Contact</h5>
		  <p>
		  	<a href="http://www.instagram.com/boytoy">
  				<img src="static/images/igContact.png" style="width:20px;height:20px;border:0">
			</a>
		
			<a href="http://www.twitter.com/rxNeu">
  				<img src="static/images/twitterContact.png" style="width:20px;height:20px;border:0">
			</a>
			
			<a href="http://www.github.com/ryichang">
  				<img src="static/images/githubContact.png" style="width:20px;height:20px;border:0">
			</a>
		  </p>
	      <br>
	      <div class="footer_copyright">© Roy Chang 2015</div>
	</div>
 </footer>