<head>

<meta charset="utf-8" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 
  <!-- Material CSS -->
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.grey-orange.min.css" /> 
  <!-- Material Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Material JS -->
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
  

  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/app.js"></script>
 
  
 


 
    
  <header id="page-header">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
       
      </button>
      <a class="navbar-brand" href="/">Poloc</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
   
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> - <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#signup-modal" data-toggle="modal" class="logged-out">Sign Up </a></li>
            <li><a href="#login-modal" data-toggle="modal" class="logged-out">Login</a></li>
  
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- MODALS -->

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <h4 class="modal-title" id="myModalLabel">Log In</h4>
     </div>
     <div class="modal-body">
       <form id="login-form" method="POST" action="/sessions">
         <div class="form-group">
           <input type="text" name="email" class="form-control" placeholder="Email" required autofocus>
         </div>
         <div class="form-group">
           <input type="password" name="password" class="form-control" placeholder="Password" required>
         </div>
         <div class="form-group">
           <input type="submit" value="Log In" class="btn btn-primary">
         </div>
         </form>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>
   </div>
 </div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <h4 class="modal-title" id="signUpModalLabel">Sign Up</h4>
     </div>
     <div class="modal-body">
       <form id="signup-form" method="POST" action="/users">
         <div class="form-group">
           <input type="text" name="email" class="form-control" placeholder="Email" autofocus required>
         </div>
         <div class="form-group">
           <input type="password" name="password" class="form-control" placeholder="Password" required>
         </div>
         <div class="form-group">
           <input type="submit" value="Sign Up" class="btn btn-primary">
         </div>
       </form>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>
   </div>
 </div>
</div>


      <br>
      <h1><b>Poloc</b></h1>
      <br>
      <img src="/static/images/igLogoWhite.png" img id="headerLogo">
      <br>
    </header>





</head>







