<head>

<meta charset="utf-8" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/app.js"></script>

  <!-- parallax -->
  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>--> 
  <!--<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>-->

</head>

<!-- Collecting the nav links for toggling --> 
  <!-- <div class="collapse navbar-collapse" id="navbar-collapse">
    <ol class ="nav navbar-nav navbar-right">
      <li class="active"><a href="/">Home</a></li>
      <li><a><div id="aboutbutton">About</div></a></li>

    </ol>
  </div> -->


  <!-- About Page with jQuery --> 
<!-- 
  <div id="about" style="display:none">
    <div class="contaner text-center"> --> <!-- Container for About page --> 
      <!-- <div id="aboutwords">
        <div class="col-md-12">
          <p> Experience places around you in the eyes of someone else using Poloc, Polaroid Locator. By using Google Maps to geolocate a user's current location with Instagram's search, a gallery </p> -->








        <!-- </div> --><!-- close col --> 
      <!-- </div>  --><!-- Close About Words --> 
    <!-- </div> --> <!-- Close Container for About Page --> 
  <!-- </div> --> <!-- Close about id --> 