@font-face {
	font-family: 'bauhaus';
	src: url('../type/bauhaus.otf');
	format('opentype');	
}


#page-header { 
  background: url('/static/images/header.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

}

#map { 
	height: 1000px; width: 420px;
}


h1{
	font-size: 300px;
	font-family: 'bauhaus';
	text-align: center;
	color: white;
	margin-top:100px;
}

h2{
	font-size: 80px;
	font-family: 'bauhaus';
	text-align: left;
}


#headerLogo {
	display: block;
    margin-left: auto;
    margin-right: auto; 
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
   margin-bottom: 150px;
}

#images {
	font-size:14px;
	font-family: 'bauhaus';
    

}


/*Parallax*/
/*
header {
	important postion: relative;
	important height: 600px;
	important background: 
		image: url('https://unsplash.com/photos/3WbWLC6QHBg');
	size: auto 600px
	position: top center;
	attachment: fixed;
}*/