@font-face {
	font-family: 'bauhaus';
	src: url('../type/bauhaus.otf');
	format('opentype');	
}



#map { 
	height: 1000px; width: 420px;
}


h1{
	font-size: 200px;
	font-family: 'bauhaus';
	text-align: center;
	important postion: relative;
	important height: 600px;
	important background: 
		image: url('https://unsplash.com/photos/3WbWLC6QHBg');
	size: auto 600px
	position: top center;
	attachment: fixed;
}

h2{
	font-size: 80px;
	font-family: 'bauhaus';
	text-align: left;
}

h3{
	font-size: 14px;
	font-family: 'bauhaus';
	text-align: left;
}

/*Parallax*/
/*
header {
	important postion: relative;
	important height: 600px;
	important background: 
		image: url('https://unsplash.com/photos/3WbWLC6QHBg');
	size: auto 600px
	position: top center;
	attachment: fixed;
}*/