@font-face {
	font-family: 'bauhaus';
	src: url('../type/bauhaus.otf');
	format('opentype');	
}


.page-header { 
  background: url(http://im.vsco.co/1/525c62bdcbe2c107031/5476bef12c561522058b4571/vsco_112714.jpg?w=879&amp;h=659&amp;dpr=1) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

}

#map { 
	height: 1000px; width: 420px;
}


h1{
	font-size: 200px;
	font-family: 'bauhaus';
	text-align: center;


}

h2{
	font-size: 80px;
	font-family: 'bauhaus';
	text-align: left;
}




#images {
	font-size:14px;
	font-family: 'bauhaus';
    

}


/*Parallax*/
/*
header {
	important postion: relative;
	important height: 600px;
	important background: 
		image: url('https://unsplash.com/photos/3WbWLC6QHBg');
	size: auto 600px
	position: top center;
	attachment: fixed;
}*/